<div class="grid container">
    <div class="formulario row">
        <div class="col-2">
            <label>Código:</label>
            <span class="codigo">{{produto.codigo}}</span>
          </div>
          <div class="col-4">
            <label>Descrição:</label>
            <input class="form-control" [(ngModel)]="produto.descricao"/>
          </div>
          <div class="col-2">
            <label>Valor da compra:</label>
            <input class="form-control" [(ngModel)]="produto.valorCompra"/>
          </div>
          <div class="col-2">
            <label>Valor da impressão:</label>
            <input class="form-control" [(ngModel)]="produto.valorImpressao"/>
          </div>
          <div class="col-2">
            <label></label>
            <a class="btn btn-success salvar" (click)="salvar()">Salvar</a>
          </div>
    </div>
    <div class="tabela">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Descrição</th>
                    <th>Valor da compra</th>
                    <th>Valor da impressão</th>
                    <th>Preço à vista</th>
                    <th>Preço à prazo</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let produto of produtos">
                    <td>{{produto.codigo}}</td>
                    <td>{{produto.descricao}}</td>
                    <td>{{produto.valorCompra | currency: 'R$ '}}</td>
                    <td>{{produto.valorImpressao | currency: 'R$ '}}</td>
                    <td>{{(produto.valorCompra + produto.valorImpressao) * 2 | currency: 'R$ '}}</td>
                    <td>{{((produto.valorCompra + produto.valorImpressao) * 2) *1.17 | currency: 'R$ '}}</td>
                    <td>
                        <a class="excluir btn-sm btn btn-danger" (click)="delete(produto)">excluir</a>
                        <a class="editar btn-sm btn btn-primary" (click)="editar(produto)">editar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
