.grid {
  width: auto;
  height: 400px;
  background-color: purple;
  padding: 30px;
}
.grid .formulario {
  width: auto;
  height: 70px;
  background-color: orange;
}
.grid .formulario label {
  display: block;
  font-size: 14px;
}
.grid .formulario .codigo {
  font-size: 30px;
}
.grid .formulario .salvar {
  margin-top: 21px;
}
.grid .tabela {
  width: auto;
  height: 250px;
  margin-top: 30px;
  overflow: auto;
  font-size: 14px;
}
.grid .tabela .table {
  background-color: white;
}
.grid .tabela .table .editar {
  margin-left: 5px;
}
