.grid{
    width: auto;
    height: 400px;
    // background-color: purple;
    padding: 30px;

    .row div{
        // outline: solid 1px red;
    }

    .formulario{
        width: auto;
        height: 80px;
        background-color: #f2f2f2;
        padding: 6px;

        label{
            display: block;
            font-size: 14px;
        }
        
        .codigo{
            font-size: 30px;
        }

        .salvar{
            margin-top: 21px;
        }
    }

    .tabela{
        width: auto;
        height: 250px;
        margin-top: 30px;
        overflow: auto;
        font-size: 14px;

        .table{
            background-color: white;

            .editar{
                margin-left: 5px;
            }
        }
    }
}