<div class="grid container">
    <div class="formulario row">
        <div class="col-2">
            <label>Código:</label>
            <span class="codigo">123456</span>
          </div>
          <div class="col-4">
            <label>Descrição:</label>
            <input class="form-control"/>
          </div>
          <div class="col-2">
            <label>Valor da compra:</label>
            <input class="form-control"/>
          </div>
          <div class="col-2">
            <label>Valor da Impressão:</label>
            <input class="form-control"/>
          </div>
          <div class="col-2">
            <label></label>
            <a class="btn btn-success salvar">Salvar</a>
          </div>
    </div>
    <div class="tabela">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Descrição</th>
                    <th>Valor da compra</th>
                    <th>Valor da impressão</th>
                    <th>Preço à vista</th>
                    <th>Preço à prazo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>123321</td>
                    <td>dsadasdasdasdasdas</td>
                    <td>R$ 1234,11</td>
                    <td>R$ 1234,11</td>
                    <td>R$ 1234,11</td>
                    <td>R$ 1234,11</td>
                </tr>
                <tr>
                    <td>123321</td>
                    <td>dsadasdasdasdasdas</td>
                    <td>R$ 1234,11</td>
                    <td>R$ 1234,11</td>
                    <td>R$ 1234,11</td>
                    <td>R$ 1234,11</td>
                </tr>
                <tr>
                    <td>123321</td>
                    <td>dsadasdasdasdasdas</td>
                    <td>R$ 1234,11</td>
                    <td>R$ 1234,11</td>
                    <td>R$ 1234,11</td>
                    <td>R$ 1234,11</td>
                </tr>
                <tr>
                    <td>123321</td>
                    <td>dsadasdasdasdasdas</td>
                    <td>R$ 1234,11</td>
                    <td>R$ 1234,11</td>
                    <td>R$ 1234,11</td>
                    <td>R$ 1234,11</td>
                </tr>
                <tr>
                    <td>123321</td>
                    <td>dsadasdasdasdasdas</td>
                    <td>R$ 1234,11</td>
                    <td>R$ 1234,11</td>
                    <td>R$ 1234,11</td>
                    <td>R$ 1234,11</td>
                </tr>
                <tr>
                    <td>123321</td>
                    <td>dsadasdasdasdasdas</td>
                    <td>R$ 1234,11</td>
                    <td>R$ 1234,11</td>
                    <td>R$ 1234,11</td>
                    <td>R$ 1234,11</td>
                </tr>
                <tr>
                    <td>123321</td>
                    <td>dsadasdasdasdasdas</td>
                    <td>R$ 1234,11</td>
                    <td>R$ 1234,11</td>
                    <td>R$ 1234,11</td>
                    <td>R$ 1234,11</td>
                </tr>
                <tr>
                    <td>123321</td>
                    <td>dsadasdasdasdasdas</td>
                    <td>R$ 1234,11</td>
                    <td>R$ 1234,11</td>
                    <td>R$ 1234,11</td>
                    <td>R$ 1234,11</td>
                </tr>
                <tr>
                    <td>123321</td>
                    <td>dsadasdasdasdasdas</td>
                    <td>R$ 1234,11</td>
                    <td>R$ 1234,11</td>
                    <td>R$ 1234,11</td>
                    <td>R$ 1234,11</td>
                </tr>
                <tr>
                    <td>123321</td>
                    <td>dsadasdasdasdasdas</td>
                    <td>R$ 1234,11</td>
                    <td>R$ 1234,11</td>
                    <td>R$ 1234,11</td>
                    <td>R$ 1234,11</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
