.banner {
  width: auto;
  height: 100px;
  background-color: green;
}
.banner .logotipo {
  width: 10%;
  height: 60px;
  background-color: red;
  float: left;
  margin-left: 10px;
  margin-top: 20px;
}
.banner .menu {
  width: 80%;
  height: 35px;
  background-color: black;
  float: left;
  margin-top: 45px;
  margin-left: 10px;
}
