<!DOCTYPE html>
<html ng-app="appAngular">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <style>
        table,
        tr,
        td,
        th {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px;
        }
    </style>
    <title>Aplicação AngularJS</title>
</head>

<body ng-controller="Principal as ctl">
    <h1>Cadastro e Consulta de Eventos</h1>
    <h2>Lista de eventos</h2>
    <table>
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Data</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="evento in ctl.items">
                <td>{{evento.descricao}}</td>
                <td>{{evento.data | date:'dd/MM/yyyy'}}</td> 
                <td>{{evento.preco | currency }}</td>
 
            </tr>
        </tbody>
    </table>
    <h2>Inclusão de um novo evento</h2>
    <div>
        <form name="incluirForm" ng-submit="ctl.adicionar()"> Descriçãodo evento:<br />
            <input type="text" ng-model="ctl.novoEvento.descricao" /> <br />Data (dd/mm/yyyy):<br />
            <input type="date" ng-model="ctl.novoEvento.data" /> <br />Preço:<br />
            <input type="text" ng-model="ctl.novoEvento.preco" /> <br />
            <input type="submit" value="Adicionar" />
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script type="text/javascript"> angular.module("appAngular", [])
            .controller('Principal', ['$http', function ($http) {
                var self = this;
                self.items = [];

                self.novoEvento = {};

                var listarTodos = function () {
                    return $http.get('http://localhost:3200/eventos/')
                        .then(function (response) {
                            self.items = response.data;
                        }, function (error) {
                            alert('Erro reportado: ' + error);
                        });
                };
                listarTodos();

                self.adicionar = function () {
                    $http({
                        url: 'http://localhost:3200/eventos/',
                        method: 'POST',
                        data: self.novoEvento,
                        headers: { 'Content-Type': 'application/json' }
                    }).then(function (response) {
                        self.novoEvento = {};
                    }, function (error) {
                        alert('Erro reportado: ' + error);
                    }).then(listarTodos);
                };
            }]);
    </script>
</body>

</html>