<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Cadastro de Eventos e Convidados - Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>Login</h1>
            <h4>Entre com suas credenciais</h4>
        </header>
        <section id="login">
            <form action="/login" method="post">
                <div class="mb-3">
                    <label class="form-label">Nome:</label>
                    <input type="text" class="form-control" name="usuario[nome]" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Senha:</label>
                    <input type="password" class="form-control" name="usuario[senha]" />
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </section>
        <footer>
            <div class="alert alert-primary">Sistema de Cadastro de Eventos e Convidados</div>
        </footer>
    </div>
</body>

</html>