<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Cadastro de Eventos e Convidados</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header>
        <p>Bem-vindo, <%= usuario.nome %>
        </p>
        <h1>Cadastro de Usuários</h1>
        <h4>Forneça os dados do usuário para seu cadastro</h4>
    </header>
    <section>
        <form action="/novoUsuario" method="post"> Nome:
            <br />
            <input type="text" name="usuario[nome]" />
            <br> Senha:
            <br />
            <input type="password" name="usuario[senha]" /> <br> Confirma:
            <br />
            <input type="password" name="usuario[confirma]" /> <br>
            <button type="submit">Login</button>
        </form>
    </section>
    <footer>
        <small>Sistema de Cadastro de Eventos e Convidados</small>
    </footer>
</body>

</html>